chromedriver-autoinstaller==0.6.4
google-api-python-client==2.199.0
google-auth==2.57.0
google-auth-oauthlib==1.4.1
numpy==2.5.2
python-dateutil==2.9.0.post0
requests==2.34.2
scipy==1.18.1
selenium==4.48.0
tweepy==4.17.0
twilio==9.11.0
